/* Custom CSS that overrides some css made by Semantics */
#abcVertical a, #logoHeader, #logoSubHeader, #demoP{
  color: white;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}
html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
#abcMenu{
  background: #2799B5;
  height:100%;
  overflow-y:auto;
}
#abcMenu #logoBox, #demoP{
  text-align: center;
}
#abcVertical{
  width: 100%;
}
#abcVertical a:hover{
  color: #59FF27;
}
.ui.horizontal.segments>.segment, .ui.segments, .ui.segments>.horizontal.segments, .ui.segments>.segment, .segment, .ui.horizontal.segments{
  border:none;
  box-shadow:none;
}
#customTableColor{
  background-color: #2799B5 !important;
}